{% extends "base.html" %}

{% block app_content %}
<div class="jumbotron text-center">
    <h1>Applications</h1>
</div>
<table class="table">
    <tr>
        <th>Company</th>
        <th>Position</th>
        <th>Application Status</th>
    </tr>
    {% for application in applications %}
    <tr>
        <td>{{application.company}}</td>
        <td>{{application.position}}</td>
        <td>
            <span class={% if application.status=="Applied" %}"label label-primary"{% else %}"label label-default"{% endif %}>
                {{application.status}}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}